<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wildwildwest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wild Wild West"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            ></activity>
        <activity android:name=".RegisterActivity"
            android:label = "Register">
        </activity>
        <activity android:name=".Client"
            android:label = "Client">
        </activity>
        <activity android:name=".Server"
            android:label = "Server">
        </activity>
        <activity android:name=".Practice"
            android:label = "Practice">
        </activity>
        <activity android:name=".Duel"
            android:label = "Duel">
        </activity>
        <activity android:name=".ChatRoomActivity"
            android:label = "ChatRoom">
        </activity>
    </application>

    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>